<html>
<body>
<script type="text/javascript" src="/nwt.main.min.js"></script>
<!--[if lte IE 9]>
	<script type="text/javascript" src="/nwt.fallback.min.js"></script>
<![endif]-->

<style type="text/css">
#movement a, #movement span { position:relative; }
#anim2 { color:#0000FF; }
#anim3 { color:#FF0000; }
</style>

<div id="movement">
	<a href="#" id="anim1">Click me!</a>
	<span id="anim2">Animate 2</span>
	<span id="anim3">Animate 3</span>
</div>

<script type="text/javascript">
nwt.one('#anim1').on('click', function(e) {
	this.anim({left: 400})
		.wait(1)
		.anim({top: 400})
		.wait(1)
		.anim({left: 0})
		.wait(1)
		.anim({top: 0})
		.wait(1)
		.anim({left: 400})
		.wait(1)
		.anim({top: 400})
		.wait(1)
		.anim({left: 0})
		.wait(1)
		.anim({top: 0});

	nwt.one('#anim2').anim({left: 400, top:400})
		.wait(1)
		.anim({top: 300, left:500})
		.wait(1)
		.anim({left: 300, top:500})
		.wait(1)
		.anim({top: 0, left:0})
		.wait(1)
		.anim({left: 400, top:400})
		.wait(1)
		.anim({top: 300, left:500})
		.wait(1)
		.anim({left: 300, top:500})
		.wait(1)
		.anim({top: 0, left:0});

	nwt.one('#anim3').anim({left: 100, top:400})
		.wait(1.5)
		.anim({left: 400, top:100})
		.wait(1.5)
		.anim({top: 0, left:0})
		.wait(1)
		.anim({left: 100, top:400})
		.wait(1.5)
		.anim({left: 400, top:100})
		.wait(1.5)
		.anim({top: 0, left:0});
});

</script>

</body>
</html>