<script type="text/javascript" src="../nwtunit/js/nwtunit.js"></script>

<div id="root"></div>
<br><br><br><br><br><br><br><br><br>
<ul>
	<li><a href="/test/anim">Animation</a></li>
</ul>
<script type="text/javascript" src="../io/test/io.test.js"></script>
<script type="text/javascript" src="../node/test/node.test.js"></script>
<script type="text/javascript" src="../node/test/node.region.test.js"></script>
<script type="text/javascript" src="../nodelist/test/nodelist.test.js"></script>
<script type="text/javascript" src="../event/test/event.test.js"></script>
<script type="text/javascript" src="../anim/test/anim.test.js"></script>
<script type="text/javascript">
	nwt.unit.report();
</script>