<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NWTui</title>

	<style type="text/css">* { margin:0; padding:0};</style>

    <script type="text/javascript" src="/nwt.main.min.js"></script>
	<!--[if lte IE 9]>
		<script type="text/javascript" src="/nwt.fallback.min.js"></script>
	<![endif]-->

	<script type="text/javascript" src="../nwtunit/js/nwtunit.js"></script>
</head>
<body>
	<div id="root"></div>
	<script type="text/javascript" src="../io/test/io.test.js"></script>
	<script type="text/javascript" src="../node/test/node.test.js"></script>
	<script type="text/javascript" src="../nodelist/test/nodelist.test.js"></script>
	<script type="text/javascript" src="../event/test/event.test.js"></script>
	<script type="text/javascript" src="../anim/test/anim.test.js"></script>
	<script type="text/javascript">
		nwt.unit.report();
	</script>
</body>
</html>
