---
layout: default
title: Examples
---

<div class="row">
	<div class="span3">
		<div class="well">
			<ul class="nav nav-list" id="ExampleMenu">
				{% for link in site.examples %}
						{% assign active = nil %}
						{% if page.url == link.url %}
							{% assign active = 'active' %}
						{% endif %}

						{% if link.url != nil %}
							<li class="{{ active }}">
								<a href="/nwt{{ link.url }}">{{ link.text }}</a>
							</li>
						{% else %}
							<li class="nav-header">{{ link.text }}</li>
						{% endif %}
				{% endfor %}
			</ul>
		</div> <!-- /well -->
	</div>
	<div class="span9">
		<div id="MainContent">
			{{ content }}	
		</div>
	</div>
</div>